/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

@font-face { font-family: "Roboto"; font-weight: 400; font-style: normal; src: url("../fonts/Roboto/Roboto-Regular.otf?#iefix") format("opentype"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"); }
@font-face { font-family: "Roboto"; font-weight: 600; font-style: normal; src: url("../fonts/Roboto/Roboto-Bold.otf?#iefix") format("opentype"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"); }
@font-face { font-family: "Roboto_Slab"; font-weight: 700; font-style: normal; src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.otf?#iefix") format("opentype"), url("../fonts/Roboto_Slab/RobotoSlab-Bold.woff") format("woff"), url("../fonts/Roboto_Slab/RobotoSlab-Bold.ttf") format("truetype"); }
@font-face { font-family: "Roboto_Slab"; font-weight: 400; font-style: normal; src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.otf?#iefix") format("opentype"), url("../fonts/Roboto_Slab/RobotoSlab-Regular.woff") format("woff"), url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype"); }
@font-face { font-family: "UniSansThinCAPS"; font-weight: 400; font-style: normal; src: url("../fonts/UniSansThinCAPS/UniSansThinCAPS.otf?#iefix") format("opentype"), url("../fonts/UniSansThinCAPS/UniSansThinCAPS.woff") format("woff"), url("../fonts/UniSansThinCAPS/UniSansThinCAPS.ttf") format("truetype"); }
.container { max-width: 1170px; margin: 0 auto; padding: 0 15px; }

.authorization { background-color: #e7eced; height: 32px; }

.menu { text-align: right; }

.menu__icon { display: none; width: 35px; height: 35px; position: relative; cursor: pointer; }

.menu__icon span { display: block; position: absolute; height: 3px; width: 100%; background: #043e19; border-radius: 5px; opacity: 1; left: 0; transform: rotate(0deg); transition: .25s ease-in-out; }

.menu__icon span:nth-child(1) { top: 3px; }

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) { top: 11px; }

.menu__icon span:nth-child(4) { top: 18px; }

.menu__links-item { display: inline-block; color: #333333; font-family: Arial; font-size: 14px; line-height: 30px; padding: 0 10px; text-decoration: none; }

.menu.menu_state_open .menu__icon span:nth-child(1) { top: 18px; width: 0%; left: 50%; }

.menu.menu_state_open .menu__icon span:nth-child(2) { transform: rotate(45deg); }

.menu.menu_state_open .menu__icon span:nth-child(3) { transform: rotate(-45deg); }

.menu.menu_state_open .menu__icon span:nth-child(4) { top: 18px; width: 0%; left: 50%; }

.menu.menu_state_open .menu__links { display: block; }

@media screen and (max-width: 999px) { .menu__icon { display: inline-block; }
  .menu__links { position: fixed; display: none; top: 0; right: 0; left: 0; margin-top: 92px; background-color: rgba(0, 0, 0, 0.8); z-index: 1000; overflow: auto; }
  .menu__links-item { display: block; padding: 10px 0; text-align: center; color: #ffffff; } }
.menu { display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-end; flex-basis: 70%; max-width: 70%; padding: 20px 0 0 20px; transition: 0.3s linear; }
@media (min-width: 480px) { .menu { flex-basis: 85%; max-width: 85%; padding: 20px 10px 0 10px; flex-direction: row; } }
@media (min-width: 768px) { .menu { flex-basis: 80%; max-width: 80%; } }
@media (min-width: 992px) { .menu { flex-basis: 50%; max-width: 50%; justify-content: space-between; } }
.menu ul { display: flex; justify-content: flex-end; margin-right: 28px; }
.menu ul li { margin-right: 20px; }
.menu ul li:nth-of-type(1) img { max-height: 30px; }
.menu ul li:nth-of-type(2) img { max-height: 21px; }
.menu__links-item { font-size: 14px; text-decoration: none; padding-bottom: 10px; transition: 0.3s linear; font-family: "Roboto"; font-weight: 400; color: #ffffff; }
@media (min-width: 768px) { .menu__links-item { font-size: 16px; } }
@media (min-width: 992px) { .menu__links-item { color: #282828; } }
.menu__links-item:hover { border-bottom: 3px solid #016726; }

.authoriz { display: flex; justify-content: space-between; align-items: center; height: 32px; }
.authoriz .social-icons { max-height: 15px; max-width: 70px; display: flex; justify-content: space-between; width: 100%; }
@media (min-width: 480px) { .authoriz .social-icons { max-width: 100px; } }
.authoriz .social-icons img { max-height: 15px; }
.authoriz .enter { display: flex; align-items: center; max-width: 160px; justify-content: space-between; width: 100%; }
@media (min-width: 480px) { .authoriz .enter { max-width: 200px; } }
.authoriz .enter p { display: inline-block; font-size: 14px; color: #016726; font-family: "Roboto"; font-weight: 400; }
@media (min-width: 480px) { .authoriz .enter p { font-size: 14px; } }
@media (min-width: 768px) { .authoriz .enter p { font-size: 18px; } }
.authoriz .enter select { background-color: #e7eced; border: none; }

.top-section { background-image: url("../img/main-bg.png"); background-size: cover; background-position: 0 0; background-repeat: no-repeat; }
.top-section header { display: flex; align-items: center; }
@media (min-width: 768px) { .top-section header { align-items: flex-start; } }
.top-section header .logo { padding-top: 14px; flex-basis: 25.7%; max-width: 25.7%; }
.top-section header .logo img { width: 100%; }
@media (min-width: 480px) { .top-section header .logo { flex-basis: 15%; max-width: 15%; } }
@media (min-width: 768px) { .top-section header .logo { flex-basis: 18.3%; max-width: 18.3%; } }
.top-section header .nav { display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between; flex-basis: 70%; max-width: 70%; padding: 20px 10px 0 20px; }
@media (min-width: 480px) { .top-section header .nav { flex-basis: 85%; max-width: 85%; padding: 20px 10px 0 10px; flex-direction: row; } }
@media (min-width: 768px) { .top-section header .nav { flex-basis: 50%; max-width: 50%; } }
.top-section header .nav li { padding-bottom: 5px; }
.top-section header .nav li a { color: #282828; font-size: 14px; text-decoration: none; padding-bottom: 10px; transition: 0.3s linear; font-family: "Roboto"; font-weight: 400; }
@media (min-width: 768px) { .top-section header .nav li a { font-size: 16px; } }
.top-section header .nav li a:hover { border-bottom: 3px solid #016726; }
.top-section header .contacts { display: none; flex-basis: 35%; max-width: 35%; flex-direction: column; padding-top: 14px; align-items: flex-end; font-family: "Roboto"; font-weight: 600; }
@media (min-width: 480px) { .top-section header .contacts { display: none; } }
@media (min-width: 992px) { .top-section header .contacts { flex-basis: 30%; max-width: 30%; display: flex; } }
.top-section header .contacts img { width: 100%; }
.top-section header .contacts ul { display: flex; justify-content: flex-end; }
.top-section header .contacts ul li { margin-left: 30px; }
.top-section header .contacts h6 { margin-bottom: 10px; }
.top-section header .contacts p { text-align: right; font-weight: 400; font-size: 12px; }
.top-section .title { display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top: 16px; color: #043e19; text-align: center; line-height: 1.3; }
.top-section .title h3 { font-size: 20px; font-family: "Roboto_Slab"; font-weight: 700; text-transform: uppercase; margin-bottom: 14px; }
@media (min-width: 768px) { .top-section .title h3 { font-size: 36px; } }
.top-section .title h1 { font-size: 32px; font-family: "Roboto_Slab"; font-weight: 700; text-transform: uppercase; margin-bottom: 34px; }
@media (min-width: 768px) { .top-section .title h1 { font-size: 48px; } }
.top-section .title h2 { font-size: 28px; font-family: "UniSansThinCAPS"; font-weight: 700; padding-bottom: 15px; margin-bottom: 25px; position: relative; }
@media (min-width: 768px) { .top-section .title h2 { font-size: 36px; } }
.top-section .title h2::after { content: " "; position: absolute; width: 90%; left: 5%; bottom: 0; height: 1px; background-color: #043e19; }
.top-section .title ul { display: none; justify-content: space-between; width: 615px; font-family: "Roboto"; font-weight: 400; margin-bottom: 40px; }
@media (min-width: 480px) { .top-section .title ul { display: none; } }
@media (min-width: 768px) { .top-section .title ul { display: flex; } }
.top-section .title ul li { font-size: 24px; position: relative; }
.top-section .title ul li::after { content: "."; position: absolute; right: -20%; top: -34px; font-size: 60px; }
.top-section .title ul li:nth-of-type(3)::after { content: ""; }
.top-section .banner { display: flex; }
.top-section .banner img { width: 100%; height: 100%; }

.filters { background-color: #f5fdeb; }
.filters .container { display: flex; justify-content: center; text-align: center; flex-direction: column; }
.filters .container .title { font-family: "Roboto_Slab"; font-weight: 700; text-transform: uppercase; color: #016726; font-size: 28px; margin-top: 40px; line-height: 1.4; margin-bottom: 40px; }
@media (min-width: 768px) { .filters .container .title { font-size: 36px; margin-top: 94px; } }
.filters .container .articles-wrapper { display: flex; width: 100%; justify-content: center; align-items: stretch; flex-wrap: wrap; }
.filters .container .articles-wrapper .active { background-color: #ffffff; -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) ; -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) ; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) ; width: 100%; height: 100%; }
.filters .container .articles-wrapper .article { flex-basis: 38%; max-width: 38%; padding: 16px; height: 180px; display: flex; transition: 0.3s linear; }
@media (min-width: 480px) { .filters .container .articles-wrapper .article { flex-basis: 26%; max-width: 26%; height: 210px; } }
@media (min-width: 768px) { .filters .container .articles-wrapper .article { flex-basis: 20%; max-width: 20%; padding: 25px; } }
@media (min-width: 992px) { .filters .container .articles-wrapper .article { flex-basis: 12%; max-width: 12%; padding: 25px; } }
.filters .container .articles-wrapper .article:hover { background-color: #ffffff; -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) ; -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) ; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) ; width: 100%; height: 100%; }
.filters .container .articles-wrapper .article a { text-decoration: none; color: #191919; }
.filters .container .articles-wrapper .article__title { font-size: 16px; font-family: "Roboto"; font-weight: 400; }
@media (min-width: 768px) { .filters .container .articles-wrapper .article__title { font-size: 20px; } }
.filters .container .articles-wrapper .article__picture-wrapper { height: 70px; width: 100%; margin-bottom: 20px; }
@media (min-width: 480px) { .filters .container .articles-wrapper .article__picture-wrapper { height: 120px; } }
.filters .container .articles-wrapper .article__picture-wrapper img { height: 100%; }

.articles { background-color: #f5fdeb; padding-top: 40px; }
@media (min-width: 768px) { .articles { padding-top: 90px; } }
.articles .articles-wrapper { display: flex; width: 100%; justify-content: center; align-items: flex-start; text-align: center; flex-wrap: wrap; }
.articles .articles-wrapper .article { flex-basis: 70.333333%; max-width: 70.333333%; margin: 10px; -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2) ; -moz-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2) ; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2) ; transition: 0.5s linear; }
@media (min-width: 480px) { .articles .articles-wrapper .article { flex-basis: 40.333333%; max-width: 40.333333%; } }
@media (min-width: 768px) { .articles .articles-wrapper .article { flex-basis: 30.333333%; max-width: 30.333333%; } }
@media (min-width: 992px) { .articles .articles-wrapper .article { flex-basis: 22.333333%; max-width: 22.333333%; } }
.articles .articles-wrapper .article:hover { transform: scale(1.03); box-shadow: none; }
.articles .articles-wrapper .article a { text-decoration: none; color: #282828; }
.articles .articles-wrapper .article__picture-wrapper { height: 230px; }
@media (min-width: 768px) { .articles .articles-wrapper .article__picture-wrapper { height: 290px; } }
.articles .articles-wrapper .article__picture-wrapper img { width: 100%; height: 100%; }
.articles .articles-wrapper .article__title { height: 110px; background: #ffffff; display: flex; align-items: center; justify-content: center; border: 1px solid #dddddd; }
.articles .articles-wrapper .article__title h1 { text-transform: uppercase; font-size: 12px; line-height: 1.3; font-family: "Roboto"; font-weight: 400; }
@media (min-width: 768px) { .articles .articles-wrapper .article__title h1 { font-size: 17px; } }
.articles .articles-wrapper .more { margin-top: 60px; width: 100%; }
.articles .articles-wrapper .more a { font-size: 18px; font-family: "Roboto"; font-weight: 400; color: #4e4e4e; }
@media (min-width: 768px) { .articles .articles-wrapper .more a { font-size: 24px; } }

.testimonials { background-color: #f5fdeb; }
.testimonials .container { display: flex; justify-content: center; text-align: center; flex-direction: column; }
.testimonials .container .title h1 { font-family: "Roboto_Slab"; font-weight: 700; text-transform: uppercase; font-size: 28px; margin-top: 70px; color: #016726; line-height: 1.4; margin-bottom: 40px; }
@media (min-width: 768px) { .testimonials .container .title h1 { font-size: 36px; margin-top: 90px; } }

.testimonials-slide { max-width: 660px; margin: 0 auto; width: 100%; }
.testimonials-slide .center .title { margin-bottom: 42px; margin-top: 34px; }
.testimonials-slide .center .title h2 { font-family: "Roboto_Slab"; font-weight: 400; font-size: 20px; display: inline-block; position: relative; }
@media (min-width: 480px) { .testimonials-slide .center .title h2 { font-size: 30px; } }
.testimonials-slide .center .title h2::after { content: " "; position: absolute; width: 90%; bottom: -17px; left: 5%; height: 2px; background-color: #dddddd; }
.testimonials-slide .center .description p { font-family: "Roboto"; font-weight: 400; font-size: 14px; line-height: 1.3; }
@media (min-width: 480px) { .testimonials-slide .center .description p { font-size: 16px; } }
.testimonials-slide .center .slick-prev:before, .testimonials-slide .center .slick-next:before { color: #dddddd; }
.testimonials-slide .center .slick-slide .block-desc { background-color: #ffffff; padding: 0px 15px 40px 15px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; margin: 0 15px; position: relative; margin-bottom: 70px; }
@media (min-width: 480px) { .testimonials-slide .center .slick-slide .block-desc { padding: 0px 80px 40px 80px; } }
.testimonials-slide .center .slick-slide .block-desc::before { content: " "; position: absolute; height: 140px; width: 100%; border-top-left-radius: 20px; border-top-right-radius: 20px; top: -130px; left: 0; background-color: #ffffff; z-index: -1; }
.testimonials-slide .center .slick-slide .img { width: 160px; height: 160px; margin: 0 auto; margin-top: 50px; }
@media (min-width: 480px) { .testimonials-slide .center .slick-slide .img { width: 203px; height: 203px; } }
.testimonials-slide .center .slick-slide .img img { width: 100%; height: 100%; }
.testimonials-slide .center .slick-dots li button::before { color: #c6c6c6; font-size: 10px; }
.testimonials-slide .center .slick-dots li button:hover::before { opacity: 1; color: #07a219; font-size: 15px; }
.testimonials-slide .center .slick-dots li.slick-active button:hover::before { opacity: 1; color: #07a219; font-size: 15px; }
.testimonials-slide .center .slick-prev, .testimonials-slide .center .slick-next { top: 95%; }
@media (min-width: 480px) { .testimonials-slide .center .slick-prev, .testimonials-slide .center .slick-next { top: 95%; } }
@media (min-width: 768px) { .testimonials-slide .center .slick-prev, .testimonials-slide .center .slick-next { top: 62%; } }
.testimonials-slide .center .slick-next { right: 40%; }
@media (min-width: 768px) { .testimonials-slide .center .slick-next { right: -25px; } }
.testimonials-slide .center .slick-prev { left: 40%; }
@media (min-width: 768px) { .testimonials-slide .center .slick-prev { left: -25px; } }
.testimonials-slide .center .slick-prev:before, .testimonials-slide .center .slick-next:before { font-size: 25px; }

.contact-form { background-image: url("../img/contact-bg.png"); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; background-color: #f5fdeb; padding-bottom: 10px; }
.contact-form .container { display: flex; justify-content: center; align-items: center; flex-direction: column; max-width: 900px; }
.contact-form .container .title h1 { font-family: "Roboto_Slab"; font-weight: 700; text-transform: uppercase; font-size: 28px; color: #016726; margin-top: 90px; line-height: 1.4; margin-bottom: 40px; }
@media (min-width: 768px) { .contact-form .container .title h1 { font-size: 36px; } }
.contact-form .container .description { max-width: 738px; margin-bottom: 40px; }
.contact-form .container .description p { font-family: "Roboto"; font-weight: 400; font-size: 16px; text-align: center; line-height: 1.3; }
@media (min-width: 768px) { .contact-form .container .description p { font-size: 24px; } }
.contact-form .container .form-inline { display: flex; flex-wrap: wrap; justify-content: center; }
@media (min-width: 768px) { .contact-form .container .form-inline { justify-content: space-between; } }
.contact-form .container .form-inline input { width: 90%; margin: 20px 10px; font-size: 18px; padding: 10px; }
@media (min-width: 768px) { .contact-form .container .form-inline input { width: 44%; } }
.contact-form .container .form-inline textarea { width: 100%; font-size: 18px; padding: 10px; margin: 0 10px; }
.contact-form .container .form-inline .btn { margin: 40px auto; font-size: 14px; color: #ffffff; font-family: "Roboto"; font-weight: 600; width: 170px; height: 46px; border-radius: 20px; background-color: #008731; text-transform: uppercase; border: none; -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) ; -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) ; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) ; transition: 0.3s linear; }
.contact-form .container .form-inline .btn:hover { box-shadow: none; }

.footer { background-color: #016726; padding: 40px 0; }
.footer .description { font-family: "Roboto"; font-weight: 400; font-size: 14px; max-width: 100%; color: #ffffff; line-height: 1.2; }
@media (min-width: 768px) { .footer .description { font-size: 18px; max-width: 60%; } }

.page-section header { display: flex; }
.page-section header .uhbdp { max-width: 100%; flex-basis: 100%; display: flex; flex-wrap: wrap; align-items: center; }
@media (min-width: 480px) { .page-section header .uhbdp { align-items: center; } }
@media (min-width: 768px) { .page-section header .uhbdp { max-width: 100%; flex-basis: 100%; } }
@media (min-width: 992px) { .page-section header .uhbdp { max-width: 65%; flex-basis: 65%; align-items: flex-start; } }
.page-section header .logo { padding-top: 14px; flex-basis: 25%; max-width: 25%; }
@media (min-width: 992px) { .page-section header .logo { flex-basis: 28%; max-width: 28%; } }
.page-section header .logo img { width: 100%; }
.page-section header .nav { display: flex; flex-direction: column; align-items: flex-start; justify-content: space-between; flex-basis: 65%; max-width: 65%; padding: 12px 10px 0 10px; }
@media (min-width: 480px) { .page-section header .nav { padding: 20px 10px 0 10px; } }
@media (min-width: 768px) { .page-section header .nav { flex-direction: row; flex-basis: 67%; max-width: 67%; } }
.page-section header .nav li { padding-bottom: 20px; }
@media (min-width: 768px) { .page-section header .nav li { padding-bottom: 5px; } }
.page-section header .nav li a { color: #282828; font-size: 14px; text-decoration: none; padding-bottom: 10px; transition: 0.3s linear; font-family: "Roboto"; font-weight: 400; }
@media (min-width: 768px) { .page-section header .nav li a { font-size: 18px; } }
.page-section header .nav li a:hover { border-bottom: 3px solid #016726; }
.page-section header .nav li .nav-active { border-bottom: 3px solid #016726; }
.page-section header .contacts { display: none; flex-basis: 35%; max-width: 35%; flex-direction: column; padding-top: 14px; align-items: flex-end; font-family: "Roboto"; font-weight: 600; }
@media (min-width: 992px) { .page-section header .contacts { display: flex; } }
.page-section header .contacts ul { display: flex; justify-content: flex-end; }
.page-section header .contacts ul li { margin-left: 30px; }
.page-section header .contacts h6 { margin-bottom: 10px; }
.page-section header .contacts p { text-align: right; font-weight: 400; font-size: 12px; }
.page-section header .contacts .back { width: auto; margin-top: 10px; }
.page-section header .contacts .back a { display: block; }
.page-section header .contacts .back a img { width: 100%; height: 100%; }

.technology-section { margin-top: 20px; }
@media (min-width: 992px) { .technology-section { margin-top: 0; } }
.technology-section .technology { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; }
.technology-section .technology .description { flex-basis: 100%; max-width: 100%; font-family: "Roboto"; font-size: 18px; line-height: 1.3; padding-top: 0; order: 1; margin-top: 50px; }
@media (min-width: 992px) { .technology-section .technology .description { flex-basis: 43%; max-width: 43%; margin-top: 0; } }
.technology-section .technology .description .title { flex-basis: 100%; max-width: 100%; display: flex; flex-direction: row; align-items: center; justify-content: flex-start; padding-left: 26px; padding-bottom: 5px; }
.technology-section .technology .description .title span { margin-right: 20px; }
.technology-section .technology .description .title h1 { font-family: "Roboto_Slab"; font-weight: 700; font-size: 17px; color: #016726; line-height: 1.4; }
@media (min-width: 480px) { .technology-section .technology .description .title h1 { font-size: 24px; } }
.technology-section .technology .description p { text-indent: 1.5em; line-height: 1.4; font-size: 13px; }
@media (min-width: 480px) { .technology-section .technology .description p { font-size: 18px; } }
.technology-section .technology .description ul { margin-top: 28px; font-size: 13px; }
@media (min-width: 480px) { .technology-section .technology .description ul { font-size: 18px; } }
.technology-section .technology .description ul li { margin-bottom: 5px; }
.technology-section .technology .description ul li strong { font-weight: 600; font-size: 17px; }
@media (min-width: 480px) { .technology-section .technology .description ul li strong { font-size: 24px; } }
.technology-section .technology .description ul li span { margin-right: 22px; }
.technology-section .technology .description ul li:nth-of-type(1) { display: flex; flex-direction: row; align-items: center; justify-content: flex-start; font-family: "Roboto_Slab"; font-weight: 700; font-size: 24px; color: #016726; line-height: 1.4; padding-left: 26px; }
.technology-section .technology .options { flex-basis: 100%; display: flex; max-width: 100%; flex-direction: column; }
@media (min-width: 992px) { .technology-section .technology .options { flex-basis: 55%; max-width: 55%; } }
.technology-section .technology .options .views { width: 100%; display: flex; justify-content: space-between; flex-direction: row; font-family: "Roboto"; font-size: 16px; color: #4e4e4e; margin-bottom: 7px; align-items: center; height: auto; }
.technology-section .technology .options .views ul { display: flex; flex-direction: row; font-size: 13px; }
@media (min-width: 480px) { .technology-section .technology .options .views ul { font-size: 16px; } }
.technology-section .technology .options .views ul li { margin-right: 10px; }
.technology-section .technology .options .views ul li:nth-of-type(2) { margin-right: 25px; }
.technology-section .technology .options .img { width: 100%; max-height: 447px; height: 100%; }
.technology-section .technology .options .img img { width: 100%; height: 100%; }
.technology-section .technology .options .likes { display: flex; flex-direction: row; align-items: center; justify-content: space-between; margin-top: 17px; }
.technology-section .technology .options .likes .like { display: flex; align-items: center; }
.technology-section .technology .options .likes .like span { background-image: url("../img/empty-heart.png"); background-size: auto; background-position: 0 0; background-repeat: no-repeat; width: 28px; height: 28px; transition: 0.2s linear; margin-right: 5px; }
@media (min-width: 480px) { .technology-section .technology .options .likes .like span { margin-right: 23px; } }
.technology-section .technology .options .likes .like span:hover { background-image: url("../img/full-heart.png"); background-size: auto; background-position: 0 0; background-repeat: no-repeat; }
.technology-section .technology .options .likes .like p { font-family: "Roboto"; font-weight: 400; font-size: 18px; }
.technology-section .technology .options .likes .partner .btn { font-size: 12px; width: 150px; height: 36px; color: #ffffff; font-family: "Roboto"; font-weight: 600; height: 36px; border-radius: 20px; background-color: #008731; text-transform: uppercase; border: none; -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) ; -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) ; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) ; display: flex; text-decoration: none; align-items: center; justify-content: center; transition: 0.3s linear; }
@media (min-width: 480px) { .technology-section .technology .options .likes .partner .btn { font-size: 14px; width: 220px; height: 46px; } }
.technology-section .technology .options .likes .partner .btn:hover { box-shadow: none; }

.farmers { font-family: "Roboto_Slab"; font-weight: 700; color: #016726; margin-top: 90px; line-height: 1.4; margin-bottom: 0; }
.farmers .container { display: flex; justify-content: center; text-align: center; flex-wrap: wrap; flex-direction: row; align-items: center; }
.farmers .container .title { flex-basis: 100%; max-width: 100%; }
.farmers .container .title h1 { font-size: 24px; }
.farmers .container .count { font-size: 150px; letter-spacing: 5px; flex-basis: 100%; max-width: 100%; line-height: 1.3; }
@media (min-width: 480px) { .farmers .container .count { font-size: 200px; } }
@media (min-width: 768px) { .farmers .container .count { flex-basis: 50%; max-width: 50%; } }
.farmers .container .count p { font-family: "Roboto"; font-weight: 400; color: #282828; font-size: 18px; letter-spacing: 1px; margin-left: 0; text-align: center; }
@media (min-width: 768px) { .farmers .container .count p { text-align: left; margin-left: 135px; } }
.farmers .container .help-us { flex-basis: 100%; max-width: 100%; display: flex; flex-direction: column; align-items: flex-start; margin-top: 20px; }
@media (min-width: 768px) { .farmers .container .help-us { flex-basis: 45%; max-width: 45%; margin-top: 0; } }
.farmers .container .help-us .title { font-family: "Roboto_Slab"; font-weight: 700; color: #016726; display: flex; font-size: 24px; align-items: center; margin-bottom: 18px; }
.farmers .container .help-us .title span { margin-right: 18px; }
.farmers .container .help-us .desc p { font-family: "Roboto"; font-weight: 400; font-size: 18px; line-height: 1.4; margin-bottom: 22px; color: #282828; }
.farmers .container .help-us .desc .buttons { display: flex; justify-content: space-between; align-items: center; }
.farmers .container .help-us .desc .buttons label { text-decoration: none; color: #016726; }
.farmers .container .help-us .desc .buttons .yes { font-family: "Roboto_Slab"; font-weight: 700; font-size: 24px; }
.farmers .container .help-us .desc .buttons .next { font-family: "Roboto"; font-weight: 600; font-size: 14px; text-transform: uppercase; width: 140px; height: 46px; border-radius: 20px; display: flex; align-items: center; justify-content: center; background-color: #dddddd; transition: 0.3s linear; border: none; }
@media (min-width: 480px) { .farmers .container .help-us .desc .buttons .next { width: 170px; } }
.farmers .container .help-us .desc .buttons .next:hover { background-color: #016726; color: #ffffff; }

.questionary { margin-top: 75px; }
.questionary .container { display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center; align-items: center; }
.questionary .container .img { flex-basis: 70%; max-width: 70%; }
.questionary .container .img img { width: 100%; }

.also { background-color: #ffffff; padding-top: 0; }
.also .container { display: flex; justify-content: center; align-items: center; flex-direction: column; }
.also .container .title h1 { font-family: "Roboto_Slab"; font-weight: 700; text-transform: uppercase; font-size: 24px; color: #016726; margin-top: 90px; line-height: 1.4; margin-bottom: 40px; text-align: center; }

.write { background-color: #ffffff; }

.page-section .menu { flex-basis: 68%; max-width: 68%; }
@media (min-width: 480px) { .page-section .menu { flex-basis: 68%; max-width: 68%; } }
@media (min-width: 992px) { .page-section .menu { flex-basis: 68%; max-width: 68%; } }
.page-section .menu ul { display: flex; justify-content: flex-end; margin-right: 28px; }
.page-section .menu ul li { margin-right: 20px; }
.page-section .menu ul li:nth-of-type(1) img { max-height: 30px; }
.page-section .menu ul li:nth-of-type(2) img { max-height: 21px; }
