$roboto-font-family: 'Roboto';
$roboto-font-weight: 400;
$roboto-font-weight-bold: 600;

$Roboto-Slab-font-family: 'Roboto_Slab';
$Roboto-Slab-font-weight-bold: 700;
$Roboto-Slab-font-weight: 400;

$UniSansThinCAPS-font-family: 'UniSansThinCAPS';
$UniSansThinCAPS-font-weight-bold: 700;


$grey-color: #e7eced;
$dark-green-color: #016726;
$text-color: #282828;
$dark-text-color: #191919;
$text-dark-green: #043e19;
$bg-color: #f5fdeb;
$white-color: #ffffff;
$link-color: #4e4e4e;
$light-color: #dddddd;
$btn-color: #008731;